body{

  margin:0 0;
  }

  #logo{
    border-radius:50%;
    background-color:#008080;
    color: #daa520;
    /* width: 100px;
    height: 100px; */
    height: 90px;
    width:90px;
    text-align:center;
    display:flex-box;
    cursor: pointer;

    box-shadow:10px 10px 10px solid #008080;
  }

  #logo p{
    font-size: 7.5px;
  }

  #logo:hover{
    box-shadow: 10px 10px 10px solid #333;
  }

  #logo a{
    color:#daa520;
  }

  #logo a:hover{
    text-decoration:none;
  }

  #banner{
    content: "";
    height: 350px;
    display: flex;

    background-image:url('../banner/gem-3230425_1920.jpg');

    opacity: 0.5;

    background-position: center right;

    /* box-shadow:  10px 5px 5px rgb(250, 128, 114, 0.80); */
    backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur(20px );

   border-radius:2%;

   width:100%;
   min-height:100%;

  }

  .feature img{
    border-radius: 50%;
    object-fit: cover;

    width:80%;
    height:80%;

    margin:0 2px;

    backdrop-filter: blur( 12.9px );
    -webkit-backdrop-filter: blur(12.9px );

    /* background-color:rgb(218, 165, 32,0.9); */

    box-shadow:  10px 5px 10px rgb(221, 221, 221, 0.9);
  }



  .feature img#prodImg{
    width: 250px;
    height: 250px;
    margin: 0 2px;
    vertical-align: middle;
    box-shadow:  10px 5px 10px rgb(221, 221, 221, 0.5);
  }

  .flex-container{
    display: flex;
    margin: 10px 0 0 0;
  }


  .flex-container >.thumbnail{
     min-height: 100px;
     width: 250px;
     padding: 15px 15px;
     margin: 5px 5px;
     background-color:rgb(160, 82, 45, 0.9);
     color: #ffe4c4;

     box-shadow:  10px 2px 10px rgb(221, 221, 221, 0.3);
     cursor:pointer;
  }

  .productSlider{
    content: "";
    height: 250px;
  }



 .card.bg-fuschia{
    background-color:#E91488;
    color:#fff;
    box-shadow:  10px 15px 15px #ddd;
    transition:ease-in-out 0.2s;
  }

  .card.bg-fuschia img{
    border-radius:40px;
  }

  .card.bg-fuschia:hover{
    cursor:pointer;
    box-shadow:  10px 0px 25px #fa8072;
  }

  .card.bg-teal{
    background-color:rgb(0, 128, 128, 0.20);
    box-shadow:  10px 5px 5px rgb(221, 221, 221, 0.30);
    backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
    transition:ease-in-in 0.2s;

  }

  .card.bg-teal:hover{
    background-color:rgb(0, 128, 128, 0.50);
    box-shadow:  10px 10px 5px  rgb(51, 51, 51, 0.50);
    cursor:pointer;
  }

  .card{
    border: none!important;
  }


  .card.btn-secondary{
    background:#E91488!important;
  }

  #footer{
    background-color:#008080;
    display:flex-box;
    color:#fff;
    text-align: center;
    padding: 5px 10px;
  }

  .card {
    border-radius: 40px;
    opacity: 0.85;
  }

  .card-header{
    border-bottom:0px solid rgba(0,0,0,.0)!important;
    background-color:1px solid rgba(0,0,0,.0)!important;
  }

  .card :not(.checkout-portion) .btn.btn-fuschia{
    background-color:#E91488!important;
    color:#fff!important;

    transition:ease-in-out 0.2s;
    border:none;
    border-radius:0px;

    box-shadow:  10px 5px 2px rgb(51, 51, 51, 0.2);
  }

  .card:not(.checkout-portion)  .btn.btn-fuschia:not(.disabled):hover{
    box-shadow:  10px 10px 5px rgb(51, 51, 51, 0.2);
  }

  /* .card.btn-fuschia:hover, .card >form.btn-fuschia:hover{
     background-color:#daa520!important;
     box-shadow:  10px 10px 5px #333
  } */

  .shipping :where(.btn-fuschia), .btn.btn-fuschia{
    background-color:#E91488!important;
    color:#fff!important;

    transition:ease-in-out 0.2s;
    border:none;
    border-radius:0px;
  }

  .shipping :where(.btn-outline-gold, .btn-fuschia, .btn-shipping ){
    box-shadow:  10px 5px 2px rgb(51, 51, 51, 0.2);
  }
  .shipping :where(.shipping):not(.disabled):hover{
    /* background-color:#daa520!important; */
    box-shadow:  10px 10px 5px rgb(51, 51, 51, 0.2);
  }

  .text-gold{
    color:#daa520;
    text-shadow: snow;
  }

  .card.bg-gold{
    background-color:#daa520;
  }

  .card.bg-saddle{
    background-color:bisque;
  }

  .form-control-custom{
    border:#daa520 1px solid;
    background-color: transparent;
    padding: 10px 10px;
    vertical-align:middle;
    margin: 0.1px  3px;
    /* margin: 0 5px; */
  }

  .form-control-custom:selected{
    border-color: transparent!important;
    box-sizing:none!important;
  }

  .btn.btn-outline-gold{
    background-color: #daa520!important;
    border-radius:1px;
    color:#fff;
    transition:ease-in-out 0.5s;
  }

  .btn.btn-outline-gold:not(.disabled):hover{
    color: #fff !important;;
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    box-shadow:  10px 0px 10px rgb(51, 51, 51, 0.2);
  }

  .bg-gold-line{
    border:#daa520 1px solid;
    margin: 0 2px;
    padding: 6.5px 15px;
    font-size: 12px;
  }

  .btn.btn-gold-line{
    border-color:#daa520!important;
    margin: 0 2px;
    transition:ease-in-in 0.2s;
  }

  .btn.btn-gold-line:hover{
    background-color:#daa520;
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    color:#fff;
  }

  /* .btn.btn-shipping{
    margin: 0 2px;
    color:#fff;

    box-shadow:  10px 5px 2px rgb(51, 51, 51, 0.2);

    transition:ease-in-in 0.2s;
  }

  .btn.btn-shipping:hover{
    border-color:#daa520;
    box-shadow:  10px 10px 5px rgb(51, 51, 51, 0.2);


    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
  } */

  .card.bg-dark-saddle{
    background-color:rgb(160, 82, 45, 0.10)!important;

  }

  .form-control-custom-bottom{
    border: none;
    border-bottom:#daa520 1px solid;
    background-color: transparent;
    padding: 10px 10px;
    vertical-align:middle;
    margin: 0.1px  3px;
    width:90%;
  }

  /**carousel **/
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }




  #tbl-checkout{
    width: 100%;
  }

  #tbl-checkout th{
      font-weight: 500;
      font-size: 20px;
      background-color: #E91488;
      color:#fff;

      padding: 10px 15px;
      margin: 2px 0px;
  }

  .numbers{
    text-align: right;
  }

  #tbl-checkout >.tbl-col-center{
    text-align: center!important;
  }

  #tbl-checkout td{
    font-weight: 100;
    font-size: 18px;
    padding: 10px 15px;
    margin: 2px 0px;
  }

  #tbl-checkout tr{
    border-bottom: 0.5px solid saddlebrown;
  }

  /* #tbl-checkout tr:nth-child(even){
    background-color:bisque;
  }

  #tbl-checkout tr:nth-child(odd){
    background-color:rgb(160, 82, 45, 0.1);
  } */

  .form-group label{
    font-weight: 500;
  }



  .checkout-portion {
    padding: 15px 15px;
    margin: 15px 15px;
    text-align:left;
  }

  .open-close-container{
    display: none;
    position: inherit;
    z-index: 2;
    transition: ease-in-out 3s;
  }





@media (min-width:300px) and (min-width: 500px){
  .tbl-col-center btn.btn btn-gold-line{
    padding: 0 0!important;
    width: 20px!important;
  }

  .checkout-portion {
    padding: 2px 2px;
    margin: 2px 2px;
  }
}
